.main-container{
    background-color: green;
     
    border: inset;
    border-color: green;
    border-radius: 1ch
}
  
.upper-container{
    display: flex;
    align-items: center;
    justify-content:space-between;
    border:inset;
    border-color: green;
    border-radius: 1ch
    
}
.lower-container{
    display: flex;
    align-items: center;
    justify-content:space-around;
    background-color:green;
    border:inset;
    border-color: green;
    border-radius: 1ch
}
 

.search-bar{
    display: flex;
    align-items: center;
    justify-content: center
    }

.auth-buttons{
    align-items: flex-start;
    border: 0ch;
    background-color: green;

}
.logo{
    border: 0ch;
    background-color: green; 
}
.dropdowns{
     width:100%;
    flex:1
}