.main-container{
    background-color: green;
    padding-top: 0ch;
    padding-bottom: 1ch;
}
  
.upper-container{
    display: flex;
    align-items: center;
    justify-content:space-between;
    
}
.lower-container{
    display: flex;
    align-items: center;
    justify-content:space-around
}